services:
  - type: web
    name: e-notaris
    env: docker
    plan: free
    region: singapore
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: db-e-notaris
          property: connectionString
      - key: APP_URL
        value: https://e-notaris.onrender.com

databases:
  - name: db-e-notaris
    plan: free
    region: singapore